<%=simple_form_for([ @cocktail, @dose ]) do |f| %>
<div class="form-group">
  <%= f.input :description %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.submit %>
  
<% end %>

<div class="btn btn-light"><%=link_to "Back to list", cocktails_path %></div>
